@model StoreItem
@{ Layout = "_Layout"; ViewBag.Title = "Get Store Item by Id";}

<h2>Get Item by Id <a asp-action="Index" class="btn btn-sm btn-primary">Back</a></h2>
<form method="post">
    @Html.TextBoxFor(i => i.Id, new { @type = "number", @required = true,  @placeholder = "Enter id here" })
   
    <button type="submit" class="btn btn-sm btn-primary">Get Store Item</button>
  
</form>

@if (Model != null)
{
    <h2>Store Item</h2>
    <table class="table table-sm table-striped table-bordered m-2">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Model.Id.ToString().PadLeft(3, '0')</td>
                <td>@Model.ItemName</td>
                <td>$@Model.Cost</td>
            </tr>
        </tbody>
    </table>
}
